/**{
margin: auto;
margin-top: 2%;
margin-bottom: 2%;
}*/
body  {
/*width: 100%;*/
/*height: 100%;*/
background: url("pics/back2.png");
}
header {
border: 1px solid black;
width: 23em;
height: auto;
background: url("pics/back1.png");
}
table {
margin-top: 1%;
margin-bottom: 1%;
margin:auto;
text-align: center;
padding: 5%;
}
tr, td  {
margin: auto;
padding: 5px;
}
table, .links {
text-decoration: none;
color: rgb(0, 0, 102);
}
/*.container {
width: 95%;
height: 100%;
border: 1px solid black;
background: url("pics/back1.png");
border-radius: 25px;
}
.showroom   {
width: 70%;
height: 100%;
margin-right: 1%;
margin-top: 5%;
margin-bottom: 5%;
position: relative;
}
.nav {
border: 1px solid black;
border-radius: 0% 5% 0% 5%;
width: auto;
height: auto;
float: left;
margin-top: 5%;
margin-left: 1%;
position: fixed;
background: url("pics/back3.png");
padding: 1%;
text-decoration: none;
}
.linav {
padding: 5px 10px;
transition-duration: 1s, 1s;
list-style: none;
}
.linav:hover {
font-size: x-large;
}
.navlin  {
text-decoration: none;
color:  rgb(6, 33, 90);
}
.box1   {
border-right: 5px dotted rgb(42, 124, 179);
border-bottom: 5px solid rgb(42, 124, 179);
margin: auto;
border-radius: 100px 0px 100px 0px;
overflow:hidden;
width: auto;
height: auto;
padding: 1%;
margin-right: 1%;
margin-left: 1%;
background: url("pics/back1.png");
}
.box2   {
border-left: 2px dotted rgb(42, 124, 179);
border-bottom: 2px solid rgb(42, 124, 179);
margin: 0%;
border-radius: 0px 100px 0px 100px;
width: auto;
height: auto;
padding: 1%;
overflow: hidden;
margin-right: 1%;
margin-left: 1%;
background: url("pics/back1.png");
}
.box1image  {
shape-outside:circle(50%);
float: left;
filter: drop-shadow(5px 5px 5px #222);
}
.box2image  {
shape-outside: circle(50%);
float: right;
filter: drop-shadow(5px 5px 5px #222);
}
p   {
text-align: justify;
overflow-wrap: break-word;
word-wrap: break-word;
shape-outside:circle(50%);
color: rgb(131, 96, 7);

}
h1  {
    color: rgb(121, 21, 8);
}*/

.container  {
display: grid;
grid-template-columns: 30% 70%;
width: 95%;
border: 1px solid black;
border-radius: 50px 50px;
margin: auto;
grid-auto-columns: minmax(auto, auto);

}
.container>div{
background: #eee;
grid-auto-columns: minmax(auto, auto);
}
.container>div:nth-child(odd)   {
background: #dddd;
}
.showroom   {
display: grid;
grid-template-columns: 100%;
border: 1px solid black;
}
.showroom> div  {
background: green;
}
.showroom>div:nth-child(odd) {
background: yellow;
}
.box1   {
    border-radius: 100px 0px 100px 0px;
    margin: 0%;
    padding: 0%;
}
.box2   {
    border-radius: 0px 100px 0px 100px;
}

